@model PMS_Admin_Web.Models.Supportingdocx.CashreceivedModel

@{
    ViewData["Title"] = "Cash Received";
    Layout = "";
}

<html>
<head>
</head>
<body>
    <table>
        <tr>
            <td>
                <img src="~/icon/q8logo.png" />
            </td>
            <td>
                <h2 style="color:black; position:center"><b>Rent Remittance - (CASH)</b></h2>
            </td>
        </tr>
    </table>


    <table class="table-bordered" style=" border: solid; width: 1480px; ">
        <thead>
            <tr style="text-align: center;">
                <th style="width: 90px;">Apt No</th>
                <th>Name of Tenant</th>
                <th style="width: 50px;">Period</th>
                <th>Receipt No</th>
                <th>Date Received</th>
                <th>Mode of Payment</th>
                <th>Received Amount</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</body>
</html>