@model LoginViewModel

@{
    ViewData["Title"] = "Login";

}

@*<style>
    .unselectable {
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: #cc0000;
    }
</style>*@

<script type="text/javascript">
    function preventBack() { window.history.forward(); }
    setTimeout("preventBack()", 0);
    window.onunload = function () { null };
</script>

@*<script>
    window.onload = () => {
        const myInput = document.getElementById('password');
        //myInput.onpaste = e => e.preventDefault();
        myInput.oncopy = e => e.preventDefault();
        myInput.oncut = e => e.preventDefault();
    }
</script>*@

<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header" style="background-color: coral;">
                    <h2>Sign In</h2>
                </div>
                <div class="card-body">
                    <div class="col-sm-12">
                        <form asp-action="Login">
                            @*<div asp-validation-summary="All" class="text-danger"></div>*@
                            <div class="form-group">
                                <label class="control-label">Department</label>
                                <div class="col-lg-12">
                                    <div class="row">
                                        
                                        <select class="form-control" asp-for="Department" style="border-radius: 10px;">
                                            <option selected="selected" value="">--Select--</option>
                                            <option value="Accounts">Accounts</option>
                                            <option value="Administration">Administration</option>
                                            <option value="facilities">Facilities</option>
                                            <option value="Marketing">Marketing</option>
                                            <option value="PA">PA</option>
                                        </select>
                                    </div>
                                </div>
                                <span asp-validation-for="Department" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Username</label>
                                <input asp-for="Uname" class="form-control" type="text" style="border-radius: 10px;" />
                                <span asp-validation-for="Uname" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Password</label>
                                <input asp-for="Pwd" id="password" class="form-control" type="password" oncopy="return false" onpaste="return false" style="border-radius: 10px; " />
                                @*<input asp-for="Pwd" id="password" class="form-control" type="password" style="border-radius: 10px; " />*@
                                <span asp-validation-for="Pwd" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" style="border-radius:10px;">Log in</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@{
    if (TempData["msg"] != null)
    {
        <script>
            alert('@TempData["msg"]')
        </script>
    }
}