@{
    ViewData["Title"] = "MonthlyAnalysismain";
    Layout = "";
}

@model PMS_Admin_Web.Models.Marketing.MonthlyAnalysismainModel;

<html>
    <header>

    </header>
    <body>

    </body>
</html>