@{
    ViewData["Title"] = "Reports";
    //Layout = "_Layout1";
}

@using Microsoft.AspNetCore.Http;

<style>
    .button2:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }
</style>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };
    </script>

}

@if (ViewBag.Message == "Access denied")
{
    <script>
        history.back();
    </script>
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            @*<div class="card" style="color:burlywood">*@
            @*<div class="card-header bg-transparent"></div>*@
            <div class="col-lg-12">
                <form>
                    @*<div class="card-body">*@
                    <br />
                    <br />
                    <div class="row">
                        <div class="col-lg-3">
                            <button id="btnSalesreport" type="button" class="btn btn-primary button2" data-target="#ReportParametersModal" data-toggle="modal" data-backdrop="static" style="width: 250px; height: 105px; border-radius: 12px; background-color: #e27d60;">
                                <div>
                                    <div>
                                        <i class="fa fa-align-justify" style="font-size:24px"></i>
                                    </div>
                                    <div>
                                        <strong>Sales Report</strong>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="col-lg-3">
                            <button id="btnMonthlyreport" type="button" class="btn btn-primary button2" data-target="#MonthlyReportModal" data-toggle="modal" data-backdrop="static" style="width: 250px; height: 105px; border-radius: 12px; background-color: palevioletred;">
                                <div>
                                    <div>
                                        <i class="fa-solid fa-file-contract" style="font-size:24px"></i>
                                    </div>
                                    <div>
                                        <strong>Monthly Report</strong>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="col-lg-3">
                            <button id="btnAllEnquiries" type="button" class="btn btn-primary button2" data-target="#AllEnquiriesModal" data-toggle="modal" data-backdrop="static" style="width: 250px; height: 105px; border-radius: 12px; background-color: #E8A87C ">
                                <div>
                                    <div>
                                        <i class="fa-solid fa-house" style="font-size:24px"></i>
                                    </div>
                                    <div>
                                        <strong>All Enquiries</strong>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="col-lg-3">
                            <button class="btn btn-primary button2" style="width: 250px; height: 105px; border-radius: 12px; background-color: #C38D9E ">
                                <div>
                                    <div>
                                        <i class="fa fa-search" style="font-size:24px"></i>
                                    </div>
                                    <div>
                                        <strong>Open Enquiries</strong>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-3">
                            <button class="btn btn-primary button2" style="width: 250px; height: 105px; border-radius: 12px; background-color: #41B3A3 ">
                                <div>
                                    <div>
                                        <i class="fa fa-search" style="font-size:24px"></i>
                                    </div>
                                    <div>
                                        <strong>Cancelled Enquiries</strong>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="col-lg-3">
                            <button class="btn btn-primary" style="width: 250px; height: 105px; border-radius: 12px; background-color: #E7717D ">
                                <div>
                                    <div>
                                        <i class="fa fa-money" style="font-size:24px"></i>
                                    </div>
                                    <div>
                                        <strong>Driver Logs</strong>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="col-lg-3">
                            <button class="btn btn-primary button2" style="width: 250px; height: 105px; border-radius: 12px; background-color: #9A1750 ">
                                <div>
                                    <div>
                                        <i class="fas fa-file-invoice-dollar" style="font-size:24px"></i>
                                    </div>
                                    <div>
                                        <strong>Source Progress</strong>
                                    </div>
                                </div>
                            </button>
                        </div>

                    </div>
                    <br />


                    @*</div>*@
                </form>
            </div>
            @*</div>*@
        </div>
    </div>

    <!--popup for ReportParameters-->
    <div id="ReportParametersModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">

            <div class="card" style="width: 350px; margin-left: 200px; ">
                <div class="card-body">
                    <form>
                        <div class="modal-content">

                            <div class="modal-header">
                                <h5 class="modal-title">Sales Detail</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label style="color:black">From Date</label>
                                    <input id="fromdate1" type="date" class="form-control" style="border-radius: 10px;"/>
                                </div>
                                <div class="form-group">
                                    <label style="color:black">To Date</label>
                                    <input id="todate1" type="date" class="form-control" style="border-radius: 10px;" />
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <button id="btnPaid" type="button" class="btn btn-primary" style="border-radius:10px;">Paid</button>
                                        <button id="btnExpected" type="button" class="btn btn-primary" style="border-radius:10px;">Expected</button>
                                        <input type="hidden" id="Paidvalue" />
                                        <input type="hidden" id="Expectedvalue" />
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button id="btnPrint1" type="button" class="btn btn-primary" style="border-radius:10px;">Print</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!---->
    <!--popup for MonthlyReport-->
    <div id="MonthlyReportModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">

            <div class="card" style="width: 350px; margin-left: 200px; ">
                <div class="card-body">
                    <form>
                        <div class="modal-content">

                            <div class="modal-header">
                                <h5 class="modal-title">Monthly Report</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label style="color:black">From Date</label>
                                    <input id="fromdate2" type="date" class="form-control" style="border-radius: 10px;" />
                                </div>
                                <div class="form-group">
                                    <label style="color:black">To Date</label>
                                    <input id="todate2" type="date" class="form-control" style="border-radius: 10px;" />
                                </div>
                                
                            </div>
                            <div class="modal-footer">
                                <button id="btnPrint2" type="button" class="btn btn-primary" style="border-radius:10px;">Print</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!---->
    <!--popup for AllEnquiries-->
    <div id="AllEnquiriesModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">

            <div class="card" style="width: 350px; margin-left: 200px; ">
                <div class="card-body">
                    <form>
                        <div class="modal-content">

                            <div class="modal-header">
                                <h5 class="modal-title">Enquiries</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label style="color:black">From Date</label>
                                    <input id="fromdate3" type="date" class="form-control" style="border-radius: 10px;" />
                                </div>
                                <div class="form-group">
                                    <label style="color:black">To Date</label>
                                    <input id="todate3" type="date" class="form-control" style="border-radius: 10px;" />
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button id="btnPrint3" type="button" class="btn btn-primary" style="border-radius:10px;">Print</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!---->
</div>



<script>
    $(document).ready(function () {
        $('#Paidvalue').val('NO');
        $('#Expectedvalue').val('NO');

        $('#btnPaid').click(function () {
            $('#Paidvalue').val('YES');
            $('#Expectedvalue').val('NO');
            // var pvalue = $('#Paidvalue').val();
            // console.log(pvalue);
        })

        $('#btnExpected').click(function () {
            $('#Paidvalue').val('NO');
            $('#Expectedvalue').val('YES');
        })

        $('#btnPrint1').click(function () {
            var paid = $('#Paidvalue').val();
            var expected = $('#Expectedvalue').val();
            var fromdate = $('#fromdate1').val();
            var todate = $('#todate1').val();

            if(fromdate.length < 1){
                alert("Enter the From Date");
                return false;
            }

            if (todate.length < 1) {
                alert("Enter the To Date");
                return false;
            }

            if (paid == "NO" && expected == "NO") {
                alert("Which Report you want to generate? Paid or Expected?");
                return false;
            }

            if (paid == "YES"){
                window.location.href = '/Marketing/LOImonthlyrptpaid?fromdate=' + fromdate + '&todate=' + todate;
            }

            if (expected == "YES") {
                window.location.href = '/Marketing/LOImonthlyrpt?fromdate=' + fromdate + '&todate=' + todate;
            }
            
        })

        $('#btnPrint2').click(function () {
            var fromdate = $('#fromdate2').val();
            var todate = $('#todate2').val();

            if (fromdate.length < 1) {
                alert("Enter the From Date");
                return false;
            }

            if (todate.length < 1) {
                alert("Enter the To Date");
                return false;
            }

            $.ajax({
                type:"POST",
                url: "@Url.Action("GetPglCglCountMonthlyReport","Marketing")",
                data: { oldlcno: lcno, newlcno: newlcno },
                success: function (response) {
                    console.log(response);
                    alert("in process");
                }
            })

            //window.location.href = '/Marketing/LOImonthlyrptpaid?fromdate=' + fromdate + '&todate=' + todate;
            
        })

        $('#btnPrint3').click(function () {
            var fromdate = $('#fromdate3').val();
            var todate = $('#todate3').val();

            if (fromdate.length < 1) {
                alert("Enter the From Date");
                return false;
            }

            if (todate.length < 1) {
                alert("Enter the To Date");
                return false;
            }

            var permission = "@Context.Session.GetString("CurrentUserRole")";
            var userle = "@Context.Session.GetString("CurrentUsername")";

            if (permission == "Administrator" && userle == "Admin") {
                window.location.href = '/Marketing/AllQueriesOnly?fromdate=' + fromdate + '&todate=' + todate;
            }
            

            

        })
    })
</script>